@font-face {
  font-family: "AdvancedPixel7";
  src: url("/look-up/fonts/advanced_pixel-7.ttf") format("truetype");
  /* Credit to Style-7
   * http://www.styleseven.com/php/get_product.php?product=Advanced%20Pixel%20LCD-7
   */
}

body {
  background-image: url('/look-up/img/background.png');
  image-rendering: pixelated;
  margin: 0px;
  font-family: 'AdvancedPixel7', monospace;
  font-size: 200%;
}

img {
  image-rendering: pixelated;
}

.title {
  padding-top: 256px;
  width: 100%;
}
.title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.lone-pine-link {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  font-size: 400%;

  font-family: 'Comfortaa', sans-serif;
  color: #426b53;
  text-shadow: 4px 4px #000;
  /*color: #2d592d;*/
  font-variant: small-caps;
  font-weight: 500;
  text-decoration: none;
}
.lone-pine-link img {
  vertical-align: middle;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.lockups {
  margin-top: 256px;
}

.lockups li {
  width: 100%;
}
.lockups li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 40%;
}
.lockups li:nth(2n+1) {
  display: inline-block;
}

.license {
  text-align: center;
  color: white;
  margin: 16px;
  margin-top: 256px;
}
.license a {
  color: white;
}


